@import 'variables';

.card {
	background-color: $white;
	border-radius: 1rem;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
	margin: 10px;
	
	img {
	  width: 100%;
	  border-radius: 1rem 1rem 0 0;
	}
	
	.card-body{
		padding: 25px;

		.item-type {
			letter-spacing: 5px;
			color: $grayish-blue;
			font-family: $montserrat;
			text-transform: uppercase;
		}

		h3 {
			font-size: 2rem;
			font-family: $fraunces;
			margin: 10px 0;
			color: $dark-blue;
		  }
		  
		p {
			font-family: $montserrat;
			color: $grayish-blue;
			line-height: 1.5;
		}

		.pricing {
			display: flex;
			align-items: center;
			font-size: 2rem;
			font-family: $fraunces;
			color: $cyan;

			.pricing-dashed{
				margin-left: 25px;
				font-family: $montserrat;
				font-size: 1rem;
				text-decoration: line-through;
				color: $grayish-blue;
			}
		}

		button {
			display: flex;
			border: none;
			background-color: $cyan;
			width: 100%;
			padding: 15px;
			color: $white;
			font-family: $montserrat;
			justify-content: center;
			align-items: center;
			font-weight: 700;
			border-radius: 10px;
			cursor: pointer;

			svg {
				margin-right: 10px;
			}

			&:hover {
				background-color: hsl(158, 36%, 25%);
			}
		}
	}

}

@media only screen and (min-width: 768px) {
	.card {
		display: flex;
		width: 600px;

		img {
			width: 50%;
			border-radius: 15px 0 0 15px;
		}

		.card-body {
			padding: 20px;

			h3 {
				line-height: 1;
				margin: 20px 0;
			}

			p {
				margin: 30px 0;
			}

			button {
				margin-top: 20px;
			}
			
		}
	}
}